<h1>Editing empdetail</h1>

<%= render "form", empdetail: @empdetail %>

<br>

<div>
  <%= link_to "Show this empdetail", @empdetail %> |
  <%= link_to "Back to empdetails", empdetails_path %>
</div>
